.todoList__todoItem{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5px;
}

.todoList__todoItem_completedIcon {
    padding: 0 15px;
}

.todoList__todoItem_deleteIcon {
    padding: 0 15px;
}