.todoSearch {
    border: 1px solid white;
    width: 300px;
    padding: 10px;
    margin: 10px 10px 40px 10px;
    align-self: center;
    background-color: inherit;
    border-radius: 10px;
    text-align: center;
    background-color: var(--Navy-blue);
}